.vol-reg-form-page-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2437px;
  overflow: hidden;
  width: 1024px;
}
.vol-reg-form-page-2 .ellipse-1 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 259px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-10 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 791px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-11 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 840px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-12 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 889px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-13 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 938px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-14 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 987px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-15 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 1036px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-16 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 1085px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-17 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 1134px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-18 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 1487px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-19 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 1536px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-2 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 308px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-20 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 1585px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-21 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 1742px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-22 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 1791px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-3 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 357px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-4 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 406px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-5 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 455px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-6 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 504px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-7 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 553px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-8 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 693px;
  width: 23px;
}
.vol-reg-form-page-2 .ellipse-9 {
  border-radius: 11.5px;
  height: 23px;
  left: 80px;
  position: absolute;
  top: 742px;
  width: 23px;
}
.vol-reg-form-page-2 .friday {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 455px;
  width: 110px;
}
.vol-reg-form-page-2 .group-3 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  left: 80px;
  min-width: 172px;
  position: absolute;
  top: 2061px;
}
.vol-reg-form-page-2 .instagram {
  height: 41px;
  left: -78px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -73px;
  width: 175px;
}
.vol-reg-form-page-2 .monday {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 259px;
  width: 110px;
}
.vol-reg-form-page-2 .overlap-group {
  align-items: flex-end;
  background-color: var(--geyser);
  display: flex;
  flex-direction: column;
  min-height: 2441px;
  padding: 43px 8px;
  width: 1024px;
}
.vol-reg-form-page-2 .overlap-group1 {
  align-self: center;
  background-color: var(--white);
  border-radius: 45px;
  height: 2187px;
  margin-left: 1.0px;
  position: relative;
  width: 869px;
}
.vol-reg-form-page-2 .overlap-group2 {
  height: 90px;
  left: 158px;
  position: absolute;
  top: 1342px;
  width: 346px;
}
.vol-reg-form-page-2 .overlap-group3 {
  height: 50px;
  position: relative;
  width: 172px;
}
.vol-reg-form-page-2 .place {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1791px;
  width: 65px;
}
.vol-reg-form-page-2 .rectangle-16 {
  background-color: var(--bon-jour);
  height: 51px;
  left: -78px;
  position: absolute;
  top: -34px;
  width: 346px;
}
.vol-reg-form-page-2 .rectangle-17 {
  background-color: var(--bon-jour);
  height: 51px;
  left: 455px;
  position: absolute;
  top: 1308px;
  width: 331px;
}
.vol-reg-form-page-2 .rectangle-19 {
  background-color: var(--bon-jour);
  height: 51px;
  left: 80px;
  position: absolute;
  top: 1944px;
  width: 346px;
}
.vol-reg-form-page-2 .rectangle-21 {
  background-color: var(--lynch);
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 170px;
}
.vol-reg-form-page-2 .saturday {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 504px;
  width: 187px;
}
.vol-reg-form-page-2 .submit {
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 172px;
}
.vol-reg-form-page-2 .sunday {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 553px;
  width: 187px;
}
.vol-reg-form-page-2 .text-1 {
  left: 81px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 84px;
  width: 737px;
}
.vol-reg-form-page-2 .text-10 {
  left: 80px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1688px;
  width: 708px;
}
.vol-reg-form-page-2 .text-11 {
  height: 67px;
  left: 80px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 1875px;
  width: 575px;
}
.vol-reg-form-page-2 .text-2 {
  left: 80px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 218px;
  width: 708px;
}
.vol-reg-form-page-2 .text-3 {
  left: 80px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1238px;
  width: 204px;
}
.vol-reg-form-page-2 .text-4 {
  height: 47px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 91px;
  min-height: 47px;
  min-width: 941px;
  width: 941px;
}
.vol-reg-form-page-2 .text-5 {
  left: 80px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 652px;
  width: 708px;
}
.vol-reg-form-page-2 .text-6 {
  left: 80px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1433px;
  width: 708px;
}
.vol-reg-form-page-2 .text-7 {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1487px;
  width: 664px;
}
.vol-reg-form-page-2 .text-8 {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1536px;
  width: 684px;
}
.vol-reg-form-page-2 .text-9 {
  height: 73px;
  left: 124px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 1581px;
  width: 624px;
}
.vol-reg-form-page-2 .thursday {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 406px;
  width: 110px;
}
.vol-reg-form-page-2 .tuesday {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 308px;
  width: 110px;
}
.vol-reg-form-page-2 .twitter {
  height: 35px;
  left: 455px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1269px;
  width: 122px;
}
.vol-reg-form-page-2 .wednesday {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 357px;
  width: 187px;
}
.vol-reg-form-page-2 .x-required-fields {
  color: var(--red);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  left: 80px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 149px;
  width: 708px;
}
.vol-reg-form-page-2 .x10am-1pm {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 742px;
  width: 110px;
}
.vol-reg-form-page-2 .x11pm-1am {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 987px;
  width: 187px;
}
.vol-reg-form-page-2 .x1am-3am {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1036px;
  width: 110px;
}
.vol-reg-form-page-2 .x1pm-4pm {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 791px;
  width: 187px;
}
.vol-reg-form-page-2 .x3am-5am {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1085px;
  width: 187px;
}
.vol-reg-form-page-2 .x4pm-7pm {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 840px;
  width: 110px;
}
.vol-reg-form-page-2 .x5am-7am {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1134px;
  width: 187px;
}
.vol-reg-form-page-2 .x7am-10am {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 693px;
  width: 110px;
}
.vol-reg-form-page-2 .x7pm-9pm {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 889px;
  width: 110px;
}
.vol-reg-form-page-2 .x9pm-11pm {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 938px;
  width: 187px;
}
.vol-reg-form-page-2 .yes {
  height: 32px;
  left: 124px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1742px;
  width: 65px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,600");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
