body {
  font-family: "Montserrat", sans-serif;
}
.fname {
  background-color: #dfdfdf;
  height: 30px;
  width: 740px;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: absolute;
}

.vol-reg-form-combined {
  align-items: flex-end;
  background-color: rgba(209, 221, 235, 1);
  display: flex;
  flex-direction: column;
  height: 3200px;
  overflow: hidden;
  padding: 64px 0;
  width: 1024px;
}
.vol-reg-form-combined .district {
  height: 35px;
  left: 305px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -64px;
  width: 122px;
}
.vol-reg-form-combined .ellipse- {
  border-radius: 11.5px;
  height: 23px;
  margin-top: 26px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-1 {
  border-radius: 11.5px;
  height: 23px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-23 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1104px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-24 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1153px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-25 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1202px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-26 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1251px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-27 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1300px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-28 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1349px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-29 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1398px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-30 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1538px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-31 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1587px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-32 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1636px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-33 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1685px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-34 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1734px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-35 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1783px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-36 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1832px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-37 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1881px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-38 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1930px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-39 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 1979px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-40 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 2332px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-41 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 2381px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-42 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 2430px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-43 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 2585px;
  width: 23px;
}
.vol-reg-form-combined .ellipse-44 {
  border-radius: 11.5px;
  height: 23px;
  left: 72px;
  position: absolute;
  top: 2634px;
  width: 23px;
}
.vol-reg-form-combined .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -2px;
  margin-left: 21px;
  min-height: 130px;
  width: 110px;
}
.vol-reg-form-combined .flex-col-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 121px;
  width: 23px;
}
.vol-reg-form-combined .flex-col-item {
  height: 32px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 17px;
  min-height: 32px;
  width: 110px;
}
.vol-reg-form-combined .friday {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1300px;
  width: 110px;
}
.vol-reg-form-combined .full-name {
  color: var(--red-3);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  left: 72px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 210px;
  width: 708px;
}
.vol-reg-form-combined .group-4 {
  align-items: flex-end;
  display: flex;
  height: 128px;
  left: -78px;
  min-width: 392px;
  position: absolute;
  top: -64px;
}
.vol-reg-form-combined .group-5 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  left: 72px;
  min-width: 172px;
  position: absolute;
  top: 2914px;
}
.vol-reg-form-combined .instagram {
  height: 41px;
  left: -78px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -64px;
  width: 175px;
}
.vol-reg-form-combined .location {
  color: var(--red-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 600;
  left: 72px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 351px;
  width: 204px;
}
.vol-reg-form-combined .monday {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1104px;
  width: 110px;
}
.vol-reg-form-combined .overlap-group {
  align-self: center;
  background-color: white;
  border-radius: 45px;
  height: 3003px;
  margin-left: 1px;
  position: relative;
  width: 869px;
}
.vol-reg-form-combined .overlap-group1 {
  height: 137px;
  left: 150px;
  position: absolute;
  top: 637px;
  width: 693px;
}
.vol-reg-form-combined .overlap-group2 {
  height: 90px;
  left: 150px;
  position: absolute;
  top: 446px;
  width: 714px;
}
.vol-reg-form-combined .overlap-group3 {
  height: 90px;
  left: 150px;
  position: absolute;
  top: 2178px;
  width: 346px;
}
.vol-reg-form-combined .overlap-group4 {
  height: 95px;
  left: 149px;
  position: absolute;
  top: 831px;
  width: 695px;
}
.vol-reg-form-combined .overlap-group5 {
  height: 50px;
  position: relative;
  width: 172px;
}
.vol-reg-form-combined .phone-number {
  color: var(--red-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  height: 50px;
  left: -78px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -64px;
  width: 695px;
}
.vol-reg-form-combined .place {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2636px;
  width: 65px;
}
.vol-reg-form-combined .please-specify {
  height: 32px;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: -2px;
  margin-left: 19px;
  min-height: 32px;
  min-width: 219px;
  width: 219px;
}
.vol-reg-form-combined .rectangle- {
  background-color: var(--bon-jour);
  height: 51px;

  left: -78px;
  position: absolute;
  top: -25px;
  width: 346px;
}
.vol-reg-form-combined .rectangle-24 {
  background-color: var(--bon-jour);
  height: 51px;
  left: 72px;
  position: absolute;
  top: 246px;
  width: 706px;
}
.vol-reg-form-combined .rectangle-26 {
  background-color: var(--bon-jour);
  height: 51px;
  left: 305px;
  position: absolute;
  top: -25px;
  width: 331px;
}
.vol-reg-form-combined .rectangle-27 {
  background-color: var(--lynch);
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 170px;
}
.vol-reg-form-combined .rectangle-28 {
  background-color: var(--bon-jour);
  height: 51px;
  left: 245px;
  position: absolute;
  top: 22px;
  width: 370px;
}
.vol-reg-form-combined .rectangle-29 {
  background-color: var(--bon-jour);
  height: 51px;
  left: -78px;
  position: absolute;
  top: -20px;
  width: 370px;
}
.vol-reg-form-combined .rectangle-30 {
  background-color: var(--bon-jour);
  height: 51px;
  left: 72px;
  position: absolute;
  top: 958px;
  width: 370px;
}
.vol-reg-form-combined .rectangle-32 {
  background-color: var(--bon-jour);
  height: 51px;
  left: 447px;
  position: absolute;
  top: 2153px;
  width: 331px;
}
.vol-reg-form-combined .rectangle-33 {
  background-color: var(--bon-jour);
  height: 51px;
  left: 72px;
  position: absolute;
  top: 2789px;
  width: 346px;
}
.vol-reg-form-combined .required-fields {
  color: red;
  font-family: var(--font-family-montserrat-regular);
  font-size: var(--font-size-s);
  left: 72px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 172px;
  width: 708px;
}
.vol-reg-form-combined .saturday {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1349px;
  width: 187px;
}
.vol-reg-form-combined .span1 {
  font-family: var(--font-family-montserrat-semibold);
  color: red;
}
.vol-reg-form-combined .span1-1 {
  font-family: var(--font-family-montserrat-regular);
  color: red;
}
.state-ut {
  background-color: #dfdfdf;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: -10px;
  width: 370px;
}
.dist {
  background-color: #dfdfdf;
  height: 30px;
  /* left: 237px; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: -10px;
  width: 370px;
}
.radname {
  background-color: #dfdfdf;
  height: 30px;
  left: -20;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 5;
  width: 450;
}
.phonenumber {
  background-color: #dfdfdf;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: 370px;
  /* left: 150; */
  /* top: -30px; */
}
.whatsappno {
  background-color: #dfdfdf;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: 370px;
}
.insta-textbox {
  background-color: #dfdfdf;
  height: 30px;
  width: 340px;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: absolute;
}
.twitter-textbox {
  background-color: #dfdfdf;
  height: 30px;
  width: 340px;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: absolute;
}
.spec-skill {
  background-color: #dfdfdf;
  height: 30px;
  width: 340px;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: absolute;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.button {
  border-radius: 10px;
  background-color: #0a98c0;
  height: 70px;
  left: -10;
  position: absolute;
  top: -60;
  width: 200px;
  border: none;
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* #open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /* position: fixed; */
/* bottom: 23px; */
/* right: 28px; */
/* width: 280px; */
/* } */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 480px;
  /* border: 3px solid #f1f1f1; */
  z-index: 9;
  width: 300px;
  height: 100;
  top: 200px;
}

.frm-container {
  max-width: 1500px;
  padding: 20px;
  background-color: #d1ddeb;
  outline: none;
  border-radius: 10px;
}

/* 
.frm-container{
  background-color: #ddd;
  
} */
.frm-container .btn {
  background-color: #0a98c0;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 10px;
}
.frm-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.vol-reg-form-combined .submit {
  color: var(--white);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 172px;
}
.vol-reg-form-combined .sunday {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1398px;
  width: 187px;
}
.vol-reg-form-combined .surname {
  height: 32px;
  letter-spacing: 0;
  line-height: 18px;
  min-height: 32px;
  width: 110px;
}
.vol-reg-form-combined .text-1 {
  /* color: var(--black);
  font-family: var(--font-family-montserrat-bold);
  font-size: var(--font-size-xl);
  /* font-weight: 700; */
  /* left: 50px;  */
  /* letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 93px;
  width: 707px;  */
  font-family: "Montserrat", sans-serif;
  margin: 50px;
  text-align: center;
  padding-top: 7px;
}
.vol-reg-form-combined .text-10 {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2332px;
  width: 664px;
}
.vol-reg-form-combined .text-11 {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2381px;
  width: 684px;
}
.vol-reg-form-combined .text-12 {
  height: 61px;
  left: 116px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 2426px;
  width: 624px;
}
.vol-reg-form-combined .text-13 {
  left: 72px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2533px;
  width: 708px;
}
.vol-reg-form-combined .text-14 {
  height: 67px;
  left: 72px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 2720px;
  width: 708px;
}
.vol-reg-form-combined .text-2 {
  height: 41px;
  left: -78px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -64px;
  width: 442px;
}
.vol-reg-form-combined .text-3 {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  height: 37px;
  left: 72px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 523px;
  width: 684px;
}
.vol-reg-form-combined .text-4 {
  height: 45px;
  left: 71px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 895px;
  white-space: nowrap;
  width: 668px;
}
.vol-reg-form-combined .text-5 {
  color: var(--black);
  font-family: var(--font-family-montserrat-regular);
  font-size: var(--font-size-l);
  height: 47px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: -2px;
  margin-top: 47px;
  min-height: 47px;
  min-width: 941px;
  width: 941px;
}
.vol-reg-form-combined .text-6 {
  left: 72px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1063px;
  width: 708px;
}
.vol-reg-form-combined .text-7 {
  left: 72px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2083px;
  width: 204px;
}
.vol-reg-form-combined .text-8 {
  left: 72px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1497px;
  width: 708px;
}
.vol-reg-form-combined .text-9 {
  left: 72px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2278px;
  width: 708px;
}
.vol-reg-form-combined .thursday {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1251px;
  width: 110px;
}
.vol-reg-form-combined .tuesday {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1153px;
  width: 110px;
}
.vol-reg-form-combined .twitter {
  height: 35px;
  left: 447px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2114px;
  width: 122px;
}
.vol-reg-form-combined .wednesday {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1202px;
  width: 187px;
}
.vol-reg-form-combined .x10am-1pm {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1587px;
  width: 110px;
}
.vol-reg-form-combined .x11pm-1am {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1832px;
  width: 187px;
}
.vol-reg-form-combined .x1am-3am {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1881px;
  width: 110px;
}
.vol-reg-form-combined .x1pm-4pm {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1636px;
  width: 187px;
}
.vol-reg-form-combined .x3am-5am {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1930px;
  width: 187px;
}
.vol-reg-form-combined .x4pm-7pm {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1685px;
  width: 110px;
}
.vol-reg-form-combined .x5am-7am {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1979px;
  width: 187px;
}
.vol-reg-form-combined .x7am-10am {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1538px;
  width: 110px;
}
.vol-reg-form-combined .x7pm-9pm {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1734px;
  width: 110px;
}
.vol-reg-form-combined .x9pm-11pm {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1783px;
  width: 187px;
}
.vol-reg-form-combined .yes {
  height: 32px;
  left: 116px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2587px;
  width: 65px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
