* {
  margin: 1px;
}
body {
  font-family: "Montserrat", sans-serif;
}

.radname {
  background-color: #dfdfdf;
  height: 30px;
  left: 20;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 13;
  width: 370px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: var(--font-size-m);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.button {
  border-radius: 10px;
  background-color: rgba(100, 124, 151, 1);
  height: 70px;
  left: -78px;
  position: absolute;
  top: -73px;
  width: 200px;
  border: none;
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.texthead {
  font-family: "Montserrat", sans-serif;
  margin: 50px;
  padding-top: 7px;
}
.volunteer-registration-form {
  align-items: flex-end;
  background-color: rgba(209, 221, 235, 1);
  display: flex;
  flex-direction: column;
  height: 1500px;
  padding: 73px 8px;
  width: 1024px;
}
.phonenumber {
  background-color: #dfdfdf;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: 370px;
  left: 150;
  top: -30px;
}
.whatsappno {
  background-color: #dfdfdf;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: 370px;
}

.Name {
  background-color: #dfdfdf;
  height: 30px;
  /* left: 237px; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 28px;
  width: 370px;
}
.locationstate {
  background-color: #dfdfdf;
  height: 30px;
  /* left: 237px; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: -10px;
  width: 370px;
}

.locationdist {
  background-color: #dfdfdf;
  height: 30px;
  /* left: 237px; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: -10px;
  width: 370px;
}
.fname {
  background-color: #dfdfdf;
  height: 30px;
  width: 740px;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: absolute;
}
.volunteer-registration-form .district {
  height: 35px;
  left: 297px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  top: -73px;
  width: 122px;
}
.volunteer-registration-form .ellipse- {
  border-radius: 11.5px;
  height: 23px;
  margin-top: 26px;
  width: 23px;
}
.volunteer-registration-form .ellipse-1 {
  border-radius: 11.5px;
  height: 23px;
  width: 23px;
}
.volunteer-registration-form .flex-col {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 121px;
  width: 23px;
}
.volunteer-registration-form .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -2px;
  margin-left: 21px;
  min-height: 130px;
  width: 110px;
}
.volunteer-registration-form .flex-col-item {
  height: 32px;
  letter-spacing: 0px;
  line-height: 18px;
  margin-top: 17px;
  min-height: 32px;
  width: 110px;
}
.volunteer-registration-form .full-name {
  letter-spacing: 0px;
  line-height: 18px;
  margin-right: 1px;
  margin-top: 17px;
  min-height: 24px;
  width: 708px;
}
.volunteer-registration-form .group-2 {
  align-items: flex-end;
  display: flex;
  height: 128px;
  left: -78px;
  min-width: 392px;
  position: absolute;
  top: -73px;
}
.volunteer-registration-form .location {
  align-self: flex-start;
  color: var(--black);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 18px;
  margin-left: 75px;
  margin-top: 54px;
  min-height: 24px;
  width: 204px;
}
.volunteer-registration-form .overlap-group {
  align-items: center;
  align-self: center;
  background-color: white;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  min-height: 1206px;
  padding: 1px 5px;
  width: 869px;
}
.volunteer-registration-form .overlap-group1 {
  height: 90px;
  left: 78px;
  position: absolute;
  top: 0px;
  width: 706px;
}
.volunteer-registration-form .overlap-group2 {
  align-self: flex-start;
  height: 50px;
  margin-left: 152px;
  margin-top: 155px;
  position: relative;
  width: 172px;
}
.volunteer-registration-form .overlap-group3 {
  align-self: flex-end;
  height: 137px;
  margin-right: 21px;
  margin-top: 86px;
  position: relative;
  width: 685px;
}
.volunteer-registration-form .overlap-group4 {
  height: 95px;
  left: 78px;
  position: absolute;
  top: 0px;
  width: 695px;
}
.volunteer-registration-form .overlap-group5 {
  align-self: flex-end;
  height: 105px;
  margin-top: 80px;
  position: relative;
  width: 784px;
}
.volunteer-registration-form .overlap-group6 {
  align-self: flex-end;
  height: 100px;
  margin-right: 12px;
  margin-top: 57px;
  position: relative;
  width: 773px;
}
.volunteer-registration-form .phone-number {
  height: 50px;
  left: -75;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  top: -50px;
  width: 695px;
}
.volunteer-registration-form .please-specify {
  height: 32px;
  letter-spacing: 0px;
  line-height: 18px;
  margin-bottom: -2px;
  margin-left: 19px;
  min-height: 32px;
  width: 219px;
}
.volunteer-registration-form .rectangle-10 {
  background-color: var(--bon-jour);
  height: 51px;
  left: 237px;
  position: absolute;
  top: 13px;
  width: 370px;
}
.volunteer-registration-form .rectangle-11 {
  background-color: var(--bon-jour);
  height: 51px;
  left: -78px;
  position: absolute;
  top: -29px;
  width: 370px;
}
.volunteer-registration-form .rectangle-12 {
  align-self: flex-start;
  background-color: var(--bon-jour);
  height: 51px;
  margin-left: 74px;
  margin-top: 18px;
  width: 370px;
}
.volunteer-registration-form .rectangle-3 {
  background-color: var(--bon-jour);
  height: 51px;
  margin-right: 3px;
  margin-top: 12px;
  width: 706px;
}
.volunteer-registration-form .rectangle-4 {
  background-color: var(--bon-jour);
  height: 51px;
  left: -78px;
  position: absolute;
  top: -34px;
  width: 346px;
}
.volunteer-registration-form .rectangle-5 {
  background-color: var(--bon-jour);
  height: 51px;
  left: 297px;
  position: absolute;
  top: -34px;
  width: 331px;
}
.volunteer-registration-form .rectangle-9 {
  background-color: rgba(100, 124, 151, 1);
  border-radius: 10px;
  height: 50px;
  left: -78px;
  position: absolute;
  top: -73px;
  width: 170px;
}
.volunteer-registration-form .submit {
  color: var(--white);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 30px;
  left: -78px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: -60px;
  width: 172px;
}
.volunteer-registration-form .surname {
  height: 32px;
  letter-spacing: 0px;
  line-height: 18px;
  min-height: 32px;
  width: 110px;
}
.volunteer-registration-form .text-1 {
  color: black;
  font-family: font-family-montserrat-bold;
  font-size: font-size-xl;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 32px;
  min-height: 41px;
  width: 707px;
}
.volunteer-registration-form .text-2 {
  height: 41px;
  left: -78px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  top: -73px;
  width: 442px;
}
.volunteer-registration-form .text-3 {
  height: 37px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  top: 68px;
  width: 684px;
}
.volunteer-registration-form .text-4 {
  height: 45px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40px;
  position: absolute;
  top: 55px;
  white-space: nowrap;
  width: 668px;
}
.volunteer-registration-form .text-5 {
  color: var(--black);
  font-family: var(--font-family-montserrat-regular);
  font-size: var(--font-size-l);
  height: 47px;
  letter-spacing: 0px;
  line-height: 20px;
  margin-top: 65px;
  min-height: 47px;
  width: 941px;
}
.volunteer-registration-form .x-required-fields {
  color: var(--black);
  font-family: var(--font-family-montserrat-regular);
  font-size: var(--font-size-s);
  letter-spacing: 0px;
  line-height: 15px;
  margin-right: 1px;
  margin-top: 38px;
  min-height: 21px;
  width: 708px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
