<html>
  <head>
    <link rel="stylesheet" href="static/form/combinedformreg.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <script src="static/form/form.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-center-horizontal">
      <div class="vol-reg-form-combined screen">
        <div class="overlap-group">
          <h1 class="text-1">CovolNet Volunteer Registration Form</h1>
          <div class="full-name">
            <span class="span montserrat-regular-normal-black-18px"
              >Full Name</span
            ><span class="span1-1">*</span>
          </div>
          <div class="rectangle-24"><input type="text" class="fname" /></div>
          <div class="location">
            <span class="span montserrat-semi-bold-black-18px">Location</span
            ><span class="span1">*</span>
          </div>
          <div class="overlap-group2">
            <div class="rectangle-"><input type="text" class="state-ut" /></div>
            <div class="text-2 montserrat-regular-normal-black-18px">
              State/Union Territory
            </div>
            <div class="rectangle-26"><input type="text" class="dist" /></div>
            <div class="district montserrat-regular-normal-black-18px">
              District
            </div>
          </div>
          <div class="overlap-group1">
            <div class="group-4">
              <div class="flex-col-1">
                <div class="ellipse-1 border-2px-dove-gray">
                  <label class="container"
                    ><input type="checkbox" name="radio" /><span
                      class="checkmark"
                    ></span
                  ></label>
                </div>
                <div class="ellipse- border-2px-dove-gray">
                  <label class="container"
                    ><input type="checkbox" name="radio" /><span
                      class="checkmark"
                    ></span
                  ></label>
                </div>
                <div class="ellipse- border-2px-dove-gray">
                  <label class="container"
                    ><input
                      type="checkbox"
                      name="radio"
                      id="chkOthers"
                      onclick="EnableDisableTextBox(this)" /><span
                      class="checkmark"
                    ></span
                  ></label>
                </div>
              </div>
              <div class="flex-col">
                <div class="surname montserrat-regular-normal-black-18px">
                  English
                </div>
                <div class="flex-col-item montserrat-regular-normal-black-18px">
                  Hindi
                </div>
                <div class="flex-col-item montserrat-regular-normal-black-18px">
                  Other
                </div>
              </div>
              <div class="please-specify montserrat-regular-normal-black-18px">
                Please specify
              </div>
            </div>
            <div class="rectangle-28">
              <input
                type="text"
                class="radname"
                id="other"
                disabled="disabled"
              />
            </div>
          </div>
          <div class="text-3">
            <span class="span montserrat-regular-normal-black-18px"
              >Preferred Language(s) for communication - Please tick all
              applicable</span
            ><span
              class="span montserrat-regular-normal-red-18px-2"
              style="color: red"
              >*</span
            ><span class="span montserrat-regular-normal-black-18px"></span>
          </div>
          <div class="overlap-group4">
            <div class="phone-number">
              <span class="span montserrat-regular-normal-black-18px"
                >Phone Number</span
              >
              <span
                class="span montserrat-regular-normal-red-18px-2span"
                style="color: red"
                >*</span
              >
            </div>
            <div class="rectangle-29">
              <input type="text" class="phonenumber" />
            </div>
          </div>
          <div class="text-4 montserrat-regular-normal-black-18px">
            If WhatsApp number is different to above, please provide that below
          </div>
          <div class="group-5">
            <div class="overlap-group5">
              <!-- <div class="rectangle-27"></div>
          <div class="submit">Submit</div> -->
              <button class="button">
                <span style="color: white">Submit</span>
              </button>
            </div>
          </div>
          <div class="required-fields">*Required fields</div>
          <div class="rectangle-30">
            <input type="text" class="whatsappno" />
          </div>
          <div class="text-6 montserrat-normal-red-18px">
            <span class="span montserrat-regular-normal-black-18px"
              >Preferred Volunteering Days (Choose multiple if applicable)</span
            ><span
              class="span montserrat-regular-normal-red-18px"
              style="color: red"
              >*</span
            >
          </div>
          <div class="text-7 montserrat-semi-bold-black-18px">
            Social Media handles
          </div>
          <div class="overlap-group3">
            <div class="rectangle-">
              <input type="text" class="insta-textbox" />
            </div>
            <div class="instagram montserrat-regular-normal-black-18px">
              Instagram
            </div>
          </div>
          <div class="rectangle-32">
            <input type="text" class="twitter-textbox" />
          </div>
          <div class="twitter montserrat-regular-normal-black-18px">
            Twitter
          </div>
          <div class="monday montserrat-regular-normal-black-18px">Monday</div>
          <div class="ellipse-23 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="tuesday montserrat-regular-normal-black-18px">
            Tuesday
          </div>
          <div class="ellipse-24 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="ellipse-25 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="wednesday montserrat-regular-normal-black-18px">
            Wednesday
          </div>
          <div class="thursday montserrat-regular-normal-black-18px">
            Thursday
          </div>
          <div class="ellipse-26 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="friday montserrat-regular-normal-black-18px">Friday</div>
          <div class="ellipse-27 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="ellipse-28 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="saturday montserrat-regular-normal-black-18px">
            Saturday
          </div>
          <div class="ellipse-29 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="sunday montserrat-regular-normal-black-18px">Sunday</div>
          <div class="text-8 montserrat-normal-red-18px">
            <span class="span montserrat-regular-normal-black-18px"
              >Preferred Timings (Choose multiple if applicable, Timing in
              IST)</span
            ><span
              class="span montserrat-regular-normal-red-18px"
              style="color: red"
              >*</span
            >
          </div>
          <div class="x7am-10am montserrat-regular-normal-black-18px">
            7am - 10am
          </div>
          <div class="ellipse-30 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="x10am-1pm montserrat-regular-normal-black-18px">
            10am - 1pm
          </div>
          <div class="ellipse-31 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="ellipse-32 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="x1pm-4pm montserrat-regular-normal-black-18px">
            1pm - 4pm
          </div>
          <div class="x4pm-7pm montserrat-regular-normal-black-18px">
            4pm - 7pm
          </div>
          <div class="ellipse-33 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="x7pm-9pm montserrat-regular-normal-black-18px">
            7pm - 9pm
          </div>
          <div class="ellipse-34 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="ellipse-35 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="x9pm-11pm montserrat-regular-normal-black-18px">
            9pm - 11pm
          </div>
          <div class="ellipse-36 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="x11pm-1am montserrat-regular-normal-black-18px">
            11pm - 1am
          </div>
          <div class="x1am-3am montserrat-regular-normal-black-18px">
            1am - 3am
          </div>
          <div class="ellipse-37 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="ellipse-38 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="x3am-5am montserrat-regular-normal-black-18px">
            3am - 5am
          </div>
          <div class="ellipse-39 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="x5am-7am montserrat-regular-normal-black-18px">
            5am - 7am
          </div>
          <div class="text-9 montserrat-normal-red-18px">
            <span class="span montserrat-regular-normal-black-18px"
              >Preferred Timings (Choose multiple if applicable, Timing in
              IST)</span
            ><span
              class="span montserrat-regular-normal-red-18px"
              style="color: red"
              >*</span
            >
          </div>
          <div class="text-10 montserrat-regular-normal-black-18px">
            Verification of Information for social media and SOS calls
          </div>
          <div class="ellipse-40 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="text-11 montserrat-regular-normal-black-18px">
            Collate and put together Information (Posters and content writing)
          </div>
          <div class="ellipse-41 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="ellipse-42 border-2px-dove-gray">
            <label class="container"
              ><input type="checkbox" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="text-12 montserrat-regular-normal-black-18px">
            SOS Help* (Involves taking to patients in emergency situations and
            dealing with news of death.)
          </div>
          <div class="text-13 montserrat-normal-red-18px">
            <span class="span montserrat-regular-normal-black-18px"
              >Are you on Discord or are willing to get on Discord? (A free
              community app)</span
            ><span
              class="span montserrat-regular-normal-red-18px"
              style="color: red"
              >*</span
            >
          </div>
          <div class="yes montserrat-regular-normal-black-18px">Yes</div>
          <div class="ellipse-43 border-2px-dove-gray">
            <label class="container"
              ><input type="radio" checked="checked" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="place montserrat-regular-normal-black-18px">No</div>
          <div class="ellipse-44 border-2px-dove-gray">
            <label class="container"
              ><input type="radio" checked="checked" name="radio" /><span
                class="checkmark"
              ></span
            ></label>
          </div>
          <div class="text-14 montserrat-regular-normal-black-18px">
            Specific skills you&#39;d like to specify that could help (eg. Tech,
            Content Writing, Design etc)
          </div>
          <div class="rectangle-33">
            <input type="text" class="spec-skill" />
          </div>
        </div>
        <div class="text-5">
          Never submit passwords or any other personal details that aren&#39;t
          asked.
        </div>
      </div>
    </div>
  </body>
</html>
