<html>
  <head>
    <link rel="stylesheet" href="static/form/style.css" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900" rel="stylesheet">
 -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script src="static/form/form.js"></script>
  </head>
  <body>
    <div class="container-center-horizontal">
      <div class="volunteer-registration-form screen">
        <div class="overlap-group">
          <h1 class="texthead">CovolNet Volunteer Registration Form</h1>
          <div class="x-required-fields">*Required fields</div>
          <div class="full-name montserrat-regular-normal-black-18px">
            Full Name*
          </div>
          <div class="rectangle-3"><input type="text" class="fname" /></div>

          <div class="location">Location*</div>
          <div class="overlap-group5">
            <div class="overlap-group1">
              <div class="rectangle-4">
                <input type="text" class="locationstate" />
              </div>
              <div class="text-2 montserrat-regular-normal-black-18px">
                State/Union Territory
              </div>
              <div class="rectangle-5">
                <input type="text" class="locationdist" />
              </div>
              <div class="district montserrat-regular-normal-black-18px">
                District
              </div>
            </div>
            <div class="text-3 montserrat-regular-normal-black-18px">
              Preferred Language(s) for communication - Please tick all
              applicable*
            </div>
          </div>
          <div class="overlap-group3">
            <div class="group-2">
              <div class="flex-col">
                <div class="ellipse-1 border-2px-dove-gray">
                  <label class="container"
                    >English<input type="checkbox" name="radio" /><span
                      class="checkmark"
                    ></span
                  ></label>
                </div>
                <div class="ellipse- border-2px-dove-gray">
                  <label class="container"
                    >Hindi<input type="checkbox" name="radio" /><span
                      class="checkmark"
                    ></span
                  ></label>
                </div>
                <div class="ellipse- border-2px-dove-gray">
                  <label class="container"
                    >Other<input
                      type="checkbox"
                      name="radio"
                      id="chkOthers"
                      onclick="EnableDisableTextBox(this)" /><span
                      class="checkmark"
                    ></span
                  ></label>
                </div>
              </div>
              <!-- <div class="flex-col-1">
            <div class="surname montserrat-regular-normal-black-18px">English</div>
            <div class="flex-col-item montserrat-regular-normal-black-18px">Hindi</div>
            <div class="flex-col-item montserrat-regular-normal-black-18px">Other</div>
          </div> -->

              <div
                style="margin-left: 8rem; padding-top: 0.5rem"
                class="please-specify montserrat-regular-normal-black-18px"
              >
                Please specify
              </div>
            </div>
            <div class="rectangle-10">
              <input
                type="text"
                class="radname"
                id="other"
                disabled="disabled"
              />
            </div>
          </div>
          <div class="overlap-group6">
            <div class="overlap-group4">
              <div class="phone-number montserrat-regular-normal-black-18px">
                Phone Number*
              </div>
              <div class="rectangle-11">
                <input type="text" class="phonenumber" />
              </div>
            </div>
            <div class="text-4 montserrat-regular-normal-black-18px">
              If WhatsApp number is different to above, please provide that
              below
            </div>
          </div>
          <div class="rectangle-12">
            <input type="text" class="whatsappno" />
          </div>
          <div class="overlap-group2">
            <!-- <div class="rectangle-9"></div> -->
            <!-- <div class="submit"><span style="color: white;">Submit</span></div> -->
            <button class="button">
              <span style="color: white">Submit</span>
            </button>
			</div>

        </div>
        <div class="text-5">
          Never submit passwords or any other personal details that aren&#39;t
          asked.
        </div>
      </div>
    </div>
  </body>
</html>
