.ambulance-form-provider {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2500px;
  overflow: hidden;
  width: 1024px;
}
.ambulance-form-provider .about-us {
  letter-spacing: 0.30px;
  line-height: 40px;
  margin-left: 2px;
  margin-top: 2.0px;
  min-height: 22px;
  min-width: 96px;
  white-space: nowrap;
  width: 96px;
}
.ambulance-form-provider .address {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 1px;
  margin-top: 41px;
  min-height: 24px;
  width: 204px;
}
.ambulance-form-provider .address-line-1 {
  height: 41px;
  left: -78px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -147px;
  width: 247px;
}
.ambulance-form-provider .all-patients {
  height: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 0;
  width: 193px;
}
.ambulance-form-provider .city-district {
  height: 35px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 71px;
  width: 205px;
}
.ambulance-form-provider .contact-us {
  letter-spacing: 0.30px;
  line-height: 40px;
  margin-left: 26px;
  margin-top: 2.0px;
  min-height: 22px;
  white-space: nowrap;
}
.ambulance-form-provider .covid-19-india {
  letter-spacing: 0.30px;
  line-height: 40px;
  margin-left: 2px;
  margin-top: 2.0px;
  min-height: 22px;
  min-width: 140px;
  white-space: nowrap;
  width: 140px;
}
.ambulance-form-provider .ellipse- {
  border-radius: 11.5px;
  height: 23px;
  width: 23px;
}
.ambulance-form-provider .ellipse--1 {
  border-radius: 11.5px;
  height: 23px;
  margin-top: 26px;
  width: 23px;
}
.ambulance-form-provider .ellipse-62 {
  border-radius: 11.5px;
  height: 23px;
  margin-top: 17px;
  width: 23px;
}
.ambulance-form-provider .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -4px;
  margin-top: 58px;
  min-height: 730px;
  width: 793px;
}
.ambulance-form-provider .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 219px;
  width: 23px;
}
.ambulance-form-provider .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 72px;
  width: 237px;
}
.ambulance-form-provider .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 72px;
  width: 23px;
}
.ambulance-form-provider .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  min-height: 349px;
  width: 792px;
}
.ambulance-form-provider .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  min-height: 1188px;
  width: 784px;
}
.ambulance-form-provider .flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  min-height: 238px;
  width: 371px;
}
.ambulance-form-provider .flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  min-height: 228px;
  width: 748px;
}
.ambulance-form-provider .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 17px;
  min-width: 791px;
}
.ambulance-form-provider .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 17px;
  min-width: 154px;
}
.ambulance-form-provider .flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-top: 4px;
  min-width: 707px;
}
.ambulance-form-provider .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 228px;
  margin-top: 17px;
  min-width: 792px;
}
.ambulance-form-provider .flex-row-4 {
  align-items: center;
  display: flex;
  height: 72px;
  margin-right: -4px;
  margin-top: 17px;
  min-width: 792px;
}
.ambulance-form-provider .flex-row-5 {
  align-items: flex-start;
  display: flex;
  min-width: 237px;
}
.ambulance-form-provider .free {
  height: 32px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 21px;
  min-height: 32px;
  width: 110px;
}
.ambulance-form-provider .full-name {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 17px;
  min-height: 24px;
  width: 708px;
}
.ambulance-form-provider .group-6 {
  align-items: flex-start;
  display: flex;
  margin-top: 74px;
  min-width: 172px;
}
.ambulance-form-provider .help {
  left: 0;
  letter-spacing: 0.30px;
  line-height: 40px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 47px;
}
.ambulance-form-provider .icu-ambulance {
  height: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 49px;
  width: 210px;
}
.ambulance-form-provider .locality-town {
  height: 35px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 116px;
  min-height: 35px;
  width: 205px;
}
.ambulance-form-provider .other {
  height: 32px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 17px;
  min-height: 32px;
  width: 110px;
}
.ambulance-form-provider .overlap-group {
  align-items: flex-end;
  background-color: var(--geyser);
  display: flex;
  flex-direction: column;
  min-height: 2500px;
  width: 1028px;
}
.ambulance-form-provider .overlap-group1 {
  align-items: flex-end;
  align-self: center;
  background-color: var(--white);
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  margin-right: 3.0px;
  margin-top: 61px;
  min-height: 2198px;
  padding: 64px 0;
  width: 869px;
}
.ambulance-form-provider .overlap-group10 {
  height: 106px;
  margin-top: 3px;
  position: relative;
  width: 784px;
}
.ambulance-form-provider .overlap-group11 {
  height: 114px;
  margin-top: 182px;
  position: relative;
  width: 773px;
}
.ambulance-form-provider .overlap-group12 {
  height: 81px;
  position: relative;
  width: 748px;
}
.ambulance-form-provider .overlap-group13 {
  height: 81px;
  margin-left: 21px;
  position: relative;
  width: 747px;
}
.ambulance-form-provider .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 0px 5px 10px #102b403d;
  display: flex;
  height: 86px;
  justify-content: flex-end;
  margin-right: 4px;
  min-width: 1024px;
  padding: 19.5px 26px;
}
.ambulance-form-provider .overlap-group3 {
  height: 95px;
  left: 78px;
  position: absolute;
  top: 19px;
  width: 695px;
}
.ambulance-form-provider .overlap-group4 {
  height: 51px;
  left: 78px;
  position: absolute;
  top: 11px;
  width: 670px;
}
.ambulance-form-provider .overlap-group5 {
  height: 51px;
  left: 260px;
  position: absolute;
  top: 8px;
  width: 487px;
}
.ambulance-form-provider .overlap-group6 {
  height: 51px;
  margin-left: 68px;
  margin-top: 9.0px;
  position: relative;
  width: 487px;
}
.ambulance-form-provider .overlap-group7 {
  height: 90px;
  left: 79px;
  position: absolute;
  top: 0;
  width: 705px;
}
.ambulance-form-provider .overlap-group8 {
  height: 50px;
  position: relative;
  width: 172px;
}
.ambulance-form-provider .overlap-group9 {
  height: 27px;
  margin-left: 29px;
  margin-top: 2.0px;
  position: relative;
  width: 55px;
}
.ambulance-form-provider .paid {
  height: 32px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 21px;
  min-height: 32px;
  width: 110px;
}
.ambulance-form-provider .path-1 {
  height: 6px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 11px;
}
.ambulance-form-provider .phone-number {
  height: 50px;
  left: -78px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -147px;
  width: 695px;
}
.ambulance-form-provider .place {
  letter-spacing: 0.30px;
  line-height: 40px;
  margin-left: 72px;
  margin-top: 2.0px;
  min-height: 22px;
  min-width: 74px;
  white-space: nowrap;
  width: 74px;
}
.ambulance-form-provider .please-specify {
  height: 32px;
  left: 105px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -133px;
  width: 152px;
}
.ambulance-form-provider .please-specify-1 {
  height: 32px;
  left: -78px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -137px;
  width: 152px;
}
.ambulance-form-provider .rectangle-36 {
  background-color: var(--link-water);
  height: 51px;
  margin-left: 1px;
  margin-top: 24px;
  width: 706px;
}
.ambulance-form-provider .rectangle-37 {
  background-color: var(--link-water);
  height: 51px;
  left: -78px;
  position: absolute;
  top: -108px;
  width: 705px;
}
.ambulance-form-provider .rectangle-38 {
  background-color: var(--link-water);
  height: 51px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 331px;
}
.ambulance-form-provider .rectangle-40 {
  background-color: var(--link-water);
  height: 51px;
  left: -78px;
  position: absolute;
  top: -103px;
  width: 370px;
}
.ambulance-form-provider .rectangle-41 {
  background-color: var(--link-water);
  height: 51px;
  left: 0;
  position: absolute;
  top: 63px;
  width: 370px;
}
.ambulance-form-provider .rectangle-42 {
  background-color: var(--lynch);
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 170px;
}
.ambulance-form-provider .rectangle-43 {
  background-color: var(--link-water);
  height: 51px;
  left: 72px;
  position: absolute;
  top: -147px;
  width: 337px;
}
.ambulance-form-provider .rectangle-44 {
  background-color: var(--link-water);
  height: 51px;
  margin-left: 1px;
  margin-top: 18px;
  width: 370px;
}
.ambulance-form-provider .rectangle-45 {
  background-color: var(--link-water);
  height: 51px;
  left: 7px;
  position: absolute;
  top: -147px;
  width: 402px;
}
.ambulance-form-provider .rectangle-65 {
  background-color: var(--link-water);
  height: 51px;
  left: 255px;
  position: absolute;
  top: -147px;
  width: 337px;
}
.ambulance-form-provider .rectangle-66 {
  background-color: var(--link-water);
  height: 51px;
  width: 331px;
}
.ambulance-form-provider .rectangle-67 {
  background-color: var(--link-water);
  height: 51px;
  margin-left: 45px;
  width: 331px;
}
.ambulance-form-provider .required-fields {
  letter-spacing: 0;
  line-height: 15px;
  margin-top: 48px;
  min-height: 21px;
  width: 708px;
}
.ambulance-form-provider .service-charge {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 1px;
  margin-top: 50px;
  min-height: 24px;
  width: 708px;
}
.ambulance-form-provider .service-timing {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 1px;
  margin-top: 49px;
  min-height: 24px;
  width: 708px;
}
.ambulance-form-provider .services {
  align-self: center;
  letter-spacing: 0.30px;
  line-height: 15px;
  margin-left: 2px;
  margin-top: 4.0px;
  min-height: 22px;
  min-width: 32px;
  white-space: nowrap;
}
.ambulance-form-provider .services-1 {
  letter-spacing: 0.30px;
  line-height: 40px;
  margin-left: 11px;
  margin-top: 2.0px;
  min-height: 22px;
  min-width: 92px;
  white-space: nowrap;
  width: 92px;
}
.ambulance-form-provider .span1 {
  color: #006fff;
  text-decoration: underline;
}
.ambulance-form-provider .specific-hours {
  height: 32px;
  left: -78px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -133px;
  width: 193px;
}
.ambulance-form-provider .state {
  height: 35px;
  left: 376px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 71px;
  width: 205px;
}
.ambulance-form-provider .submit {
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 172px;
}
.ambulance-form-provider .surname {
  height: 32px;
  left: -78px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -137px;
  width: 152px;
}
.ambulance-form-provider .text-1 {
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 1px;
  min-height: 41px;
  width: 737px;
}
.ambulance-form-provider .text-2 {
  height: 45px;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 668px;
}
.ambulance-form-provider .text-3 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 24px;
  width: 708px;
}
.ambulance-form-provider .text-4 {
  height: 32px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 17px;
  min-height: 32px;
  width: 270px;
}
.ambulance-form-provider .text-5 {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  height: 47px;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 10px;
  margin-top: 50px;
  min-height: 47px;
  min-width: 941px;
  width: 941px;
}
.ambulance-form-provider .text-6 {
  height: 45px;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 1px;
  min-height: 45px;
  white-space: nowrap;
}
.ambulance-form-provider .text-7 {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  letter-spacing: 0;
  line-height: 15px;
  margin-top: 20px;
  min-height: 21px;
  width: 708px;
}
.ambulance-form-provider .text-8 {
  height: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 49px;
  width: 393px;
}
.ambulance-form-provider .title {
  color: var(--gun-powder);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  letter-spacing: 0.70px;
  line-height: 40px;
  min-height: 45px;
  min-width: 209px;
  white-space: nowrap;
  width: 209px;
}
.ambulance-form-provider .types-of-patients {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 1px;
  margin-top: 56px;
  min-height: 24px;
  width: 708px;
}
.ambulance-form-provider .with-oxygen {
  height: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 0;
  width: 210px;
}
.ambulance-form-provider .without-oxygen {
  height: 32px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 17px;
  min-height: 32px;
  width: 193px;
}
.ambulance-form-provider .x24x7-service {
  height: 32px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 21px;
  min-height: 32px;
  width: 193px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,600|Open+Sans:600");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
